<div class="container">
  <div class="row">
    <div class="col arrow-right">
      <img src="img/right-arrow.png">
    </div>
    <div class="col">
      <form method='post' action='/contact' class="form">
        <h4 class="contact-text">Name</h4>
        <input type="text" name="name" class="input rounded border-0">
        <h4 class="contact-text">Email</h4>
        <input type="email" name="email" class="input rounded border-0">
        <h4 class="contact-text">Subject</h4>
        <input type="text" name="subject" class="input rounded border-0">
        <h4 class="contact-text">Message</h4>
        <textarea type="text" name="message" class="rounded" cols="30" rows="7"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <button type="submit" class="button rounded border-0">Send</button>
      </form>
    </div>
  </div>  
  <div class="row">
    <div class="col">
      <a href="http://www.instagram.com/rat_merey/"><img width="100px" height="100px" src="img/instagram_icon.png"></a>
      <a href="http://www.youtube.com/user/tsunamidog"><img width="100px" height="100px" src="img/youtube_icon.png"></a>
      <a href="http://vimeo.com/user15378769"><img width="100px" height="100px" src="img/vimeo_icon.png"></a>
    </div>
  </div>
</div>

