<form method='post' action='/contact' class="form">
  <input type="text" name="name" class="input name" placeholder="Name">
  <input type="email" name="email" class="input" placeholder="Email">
  <input type="text" name="subject" class="input" placeholder="Subject">
  <textarea type="text" name="message" cols="30" rows="7" placeholder="Message"></textarea>
  <button type="submit" class="button">Send</button>
</form>
<a href="http://www.instagram.com/rat_merey/"><img src="img/instagram_icon.png"></a>
<a href="http://www.youtube.com/user/tsunamidog"><img src="img/youtube_icon.png"></a>
<a href="http://vimeo.com/user15378769"><img src="img/vimeo_icon.png"></a>
