<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="cv-text name">Matt Serey</h1>
      <h1 class="cv-text w-d-credits">Writer/Director Credits</h1>
    </div>
  </div>  
  <div class="row">
    <div class="col-7">
      <ul class="ul-1">
        <li>Polarize</li>
        <li>Tyler Phoids Used Vaccine’s (Animation)</li>
        <li>Hopscotch</li>
        <li>Death of Summer</li>
        <li>You Only YOLO Once </li>
        <li>The Room Reimagining</li>
        <li>Orbit</li>
        <li>The Great Pandemic!</li>
        <li>Untitled</li>
        <li>Canvass Man</li>
        <li>Would you Ever Resort to Cannibalism? (Doc)</li>
        <li>What’s for Dinner</li>
      </ul>
    </div>
    <div class="col">
      <ul class="ul-2">
        <li>2014</li>
        <li>2014</li>
        <li>2013</li>
        <li>2013</li>
        <li>2013</li>
        <li>2013</li>
        <li>2013</li>
        <li>2012</li>
        <li>2012</li>
        <li>2011</li>
        <li>2011</li>
        <li>2011</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="cv-text w-e-title">Work Experience</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <ul class="ul-1">
        <li>Agent Up Real Estate Commercials</li>
        <li>Christina Block Team Commercial</li>
        <li>Specific House Promotional Videos</li>
        <li>Neighborhood Promotional Videos</li>
        <li>Brunswick County Basketball Team Promo</li>
        <li>Directing Reel</li>
        <li></li>
        <li>Missy Dahl Fundraiser Video</li>
        <li>Emily Dahlquist Live Speed Drawings</li>
        <li>Elephant Room Art Gallery Promos</li>
        <li>Columbia Art History Week Presentations </li>
        <li></li>
        <li>Pmartt Music Video/Promo for MTV</li>
        <li></li>
        <li>Terrible Two</li>
        <li>Under the Dome</li>
        <li></li>
        <li>OZO Club Event Trailer / Promos </li>
        <li>SPECIES Event Trailer / Promos</li>
        <li></li>
        <li>Social Suit Media</li>
        <li>Agent Up</li>
      </ul>
    </div>
    <div class="col">
      <ul class="ul-2">
        <li>Editor</li>
        <li>Editor</li>
        <li>Editor</li>
        <li>Editor</li>
        <li>Editor</li>
        <li>Editor</li>
        <li></li>
        <li>Cinematography and Editor</li>
        <li>Cinematography and Editor</li>
        <li>Cinematography and Editor</li>
        <li>Cinematography and Editor</li>
        <li></li>
        <li>Ast. Director / Lighting</li>
        <li></li>
        <li>Lighting and Grip</li>
        <li>Lighting and Grip</li>
        <li></li>
        <li>Lighting / Cinematography / Editor</li>
        <li>Lighting / Cinematography / Editor</li>
        <li></li>
        <li>Content Creator</li>
        <li>Content Creator</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="cv-text e-d-title">Education / Classes</h1>
      <h6 class="school-font">Columbia College Chicago - 2010 - 2014</h6>
      <h6 class="school-font">BA in Film & Video (Direction Concentration) / Minor in Fiction Writing</h6>
      <h6 class="school-class-font">Specialty Classes:</h6>
      <ul class="ed-ul">
        <li>Moving Image Arts I (Narrative)</li>
        <li>Moving Image Arts II (Documentary)</li>
        <li>Screenwriting I</li>
        <li>Editing I</li>
        <li>Acting I</li>
        <li>Cinematography I</li>
        <li>Directing I, II, III (Capstone)</li>
        <li>Fiction Writing I, II</li>
        <li>Prose Forms</li>
        <li>Advanced Fiction Writing</li>
        <li>Primary SOC of Zine Club</li>
      </ul>
    </div>
  </div>
</div>


  
  

