<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="reel-title">Directing Reel</h1>
      <div class="embed-container">
        <iframe class="reel" src="https://player.vimeo.com/video/175867708" width="640" height="427" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>  
    </div>
  </div>    
</div>


