<div class="row">
  <div class="container-fluid">
    <div class="col-lg-12 col-sm-12 col-md-12">
      <h2 class="reel-title">Directing Reel</h2>
      <div class="embed-container">
      <iframe class="reel" src="https://player.vimeo.com/video/175867708" width="640" height="427" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>  
      </div>
    </div> 
  </div>
</div>


