<h2>Feature Screenplays</h2>
<h3>"Cocoons"</h3>
  <p>Convinced that the world will end, three friends barricade themselves inside of a small trailer. Cabin fever quickly sets in, pushing all three of them to their breaking points.</p>
<h3>"Come Greet the Devil"</h3>
  <p>A grieving artist must try understand what is real and what isn't when a mysterious woman shows up to her house searching for her dead girlfriends soul.</p>
<h3>"They're All Gone"</h3>
  <p>After witnessing a friend overdose on a hiking trip, two friends become lost in the woods. Suffering from withdrawal and dehydration, all hope seems to be lost–until they stumble across a cult on a mission to find a door that can grant wishes.</p>
<h3>"Drainworm"</h3>
  <p>Two homeless teens stumble across a sink drain that transports them back in time fifteen minutes. They use this unique opportunity to try and improve their lives, but things never seem to go according to plan.</p>
<h3>"The Sky is Falling"</h3>
  <p>After robbing a drug dealer, friends slip into a paranoid madness while trying to discover who can and can't be trusted while being stalked by assailants</p>
<h4><a href="http://www.mattserey.com/contact">Contact Me</a> for more details</h4>
