<!DOCTYPE html>
<html>
<head>
  <title>Matt Serey</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="favicon" type="image/png" href="img/favicon.png">
  <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="css/bootstrap.min.css">

  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Monoton|NTR|Vampiro+One" rel="stylesheet">
</head>
<body>

